USE [master]
GO
/****** Object:  Database [CentroDeportivoDB]    Script Date: 6/10/2026 12:16:08 p. m. ******/
CREATE DATABASE [CentroDeportivoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CentroDeportivoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CentroDeportivoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CentroDeportivoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CentroDeportivoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CentroDeportivoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CentroDeportivoDB]
GO
/****** Object:  Table [dbo].[Canchas]    Script Date: 6/10/2026 12:16:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canchas](
	[id_cancha] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_deporte] [int] NOT NULL,
	[precio_hora] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 6/10/2026 12:16:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deportes]    Script Date: 6/10/2026 12:16:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deportes](
	[id_deporte] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_deporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 6/10/2026 12:16:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_reserva] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
	[metodo_pago] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 6/10/2026 12:16:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_cancha] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[valor] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Canchas] ON 

INSERT [dbo].[Canchas] ([id_cancha], [nombre], [id_deporte], [precio_hora]) VALUES (1, N'Cancha Sintética 1', 1, CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[Canchas] ([id_cancha], [nombre], [id_deporte], [precio_hora]) VALUES (2, N'Cancha de Tenis A', 2, CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[Canchas] ([id_cancha], [nombre], [id_deporte], [precio_hora]) VALUES (3, N'Cancha Baloncesto 1', 3, CAST(30000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Canchas] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id_cliente], [nombre], [telefono], [email]) VALUES (1, N'Juan Pérez', N'3001234567', N'juan.perez@email.com')
INSERT [dbo].[Clientes] ([id_cliente], [nombre], [telefono], [email]) VALUES (2, N'María Gómez', N'3109876543', N'maria.gomez@email.com')
INSERT [dbo].[Clientes] ([id_cliente], [nombre], [telefono], [email]) VALUES (3, N'Carlos Rodríguez', N'3205554433', N'carlos.r@email.com')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Deportes] ON 

INSERT [dbo].[Deportes] ([id_deporte], [nombre]) VALUES (1, N'Fútbol')
INSERT [dbo].[Deportes] ([id_deporte], [nombre]) VALUES (2, N'Tenis')
INSERT [dbo].[Deportes] ([id_deporte], [nombre]) VALUES (3, N'Baloncesto')
SET IDENTITY_INSERT [dbo].[Deportes] OFF
GO
SET IDENTITY_INSERT [dbo].[Pagos] ON 

INSERT [dbo].[Pagos] ([id_pago], [id_reserva], [monto], [fecha_pago], [metodo_pago]) VALUES (1, 1, CAST(50000.00 AS Decimal(10, 2)), CAST(N'2026-10-01T10:00:00.000' AS DateTime), N'Transferencia')
INSERT [dbo].[Pagos] ([id_pago], [id_reserva], [monto], [fecha_pago], [metodo_pago]) VALUES (2, 2, CAST(50000.00 AS Decimal(10, 2)), CAST(N'2026-10-02T11:30:00.000' AS DateTime), N'Efectivo')
INSERT [dbo].[Pagos] ([id_pago], [id_reserva], [monto], [fecha_pago], [metodo_pago]) VALUES (3, 3, CAST(35000.00 AS Decimal(10, 2)), CAST(N'2026-10-03T15:20:00.000' AS DateTime), N'Tarjeta')
SET IDENTITY_INSERT [dbo].[Pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([id_reserva], [id_cliente], [id_cancha], [fecha], [hora], [valor]) VALUES (1, 1, 1, CAST(N'2026-10-10' AS Date), CAST(N'18:00:00' AS Time), CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[Reservas] ([id_reserva], [id_cliente], [id_cancha], [fecha], [hora], [valor]) VALUES (2, 2, 1, CAST(N'2026-10-11' AS Date), CAST(N'19:00:00' AS Time), CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[Reservas] ([id_reserva], [id_cliente], [id_cancha], [fecha], [hora], [valor]) VALUES (3, 3, 2, CAST(N'2026-10-10' AS Date), CAST(N'10:00:00' AS Time), CAST(35000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
ALTER TABLE [dbo].[Canchas]  WITH CHECK ADD  CONSTRAINT [FK_Canchas_Deportes] FOREIGN KEY([id_deporte])
REFERENCES [dbo].[Deportes] ([id_deporte])
GO
ALTER TABLE [dbo].[Canchas] CHECK CONSTRAINT [FK_Canchas_Deportes]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Reservas] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reservas] ([id_reserva])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Reservas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Canchas] FOREIGN KEY([id_cancha])
REFERENCES [dbo].[Canchas] ([id_cancha])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Canchas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Clientes]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarReserva]    Script Date: 6/10/2026 12:16:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BuscarReserva]
    @id_reserva INT
AS
BEGIN
    SELECT 
        cli.nombre AS Cliente,
        dep.nombre AS Deporte,
        can.nombre AS Cancha,
        res.fecha AS Fecha,
        res.hora AS Hora,
        res.valor AS Valor
    FROM Reservas res
    INNER JOIN Clientes cli ON res.id_cliente = cli.id_cliente
    INNER JOIN Canchas can ON res.id_cancha = can.id_cancha
    INNER JOIN Deportes dep ON can.id_deporte = dep.id_deporte
    WHERE res.id_reserva = @id_reserva;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularRecaudo]    Script Date: 6/10/2026 12:16:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CalcularRecaudo]
    @id_cancha INT,
    @total_recaudo DECIMAL(10,2) OUTPUT
AS
BEGIN
    SELECT @total_recaudo = ISNULL(SUM(valor), 0)
    FROM Reservas
    WHERE id_cancha = @id_cancha;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TotalReservas]    Script Date: 6/10/2026 12:16:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TotalReservas]
    @total_reservas INT OUTPUT
AS
BEGIN
    SELECT @total_reservas = COUNT(*) 
    FROM Reservas;
END;
GO
USE [master]
GO
