USE [master]
GO
/****** Object:  Database [PlataformaEventos]    Script Date: 6/10/2026 1:51:09 p. m. ******/
CREATE DATABASE [PlataformaEventos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlataformaEventos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PlataformaEventos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlataformaEventos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PlataformaEventos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlataformaEventos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlataformaEventos]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[id_evento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](300) NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_lugar] [int] NOT NULL,
	[id_organizador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripciones]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripciones](
	[id_inscripcion] [int] IDENTITY(1,1) NOT NULL,
	[fecha_inscripcion] [date] NOT NULL,
	[estado] [varchar](30) NOT NULL,
	[id_participante] [int] NOT NULL,
	[id_evento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lugares]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugares](
	[id_lugar] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[ciudad] [varchar](100) NOT NULL,
	[capacidad] [int] NOT NULL,
	[direccion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lugar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizadores]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizadores](
	[id_organizador] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_organizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[fecha_pago] [date] NOT NULL,
	[valor] [decimal](18, 2) NOT NULL,
	[metodo_pago] [varchar](50) NOT NULL,
	[estado] [varchar](30) NOT NULL,
	[id_inscripcion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participantes]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participantes](
	[id_participante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[documento] [varchar](20) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_participante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([id_categoria], [nombre], [descripcion]) VALUES (1, N'Concierto', N'Eventos musicales')
INSERT [dbo].[Categorias] ([id_categoria], [nombre], [descripcion]) VALUES (2, N'Taller', N'Actividades prácticas')
INSERT [dbo].[Categorias] ([id_categoria], [nombre], [descripcion]) VALUES (3, N'Conferencia', N'Eventos académicos')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Eventos] ON 

INSERT [dbo].[Eventos] ([id_evento], [nombre], [descripcion], [fecha], [hora], [precio], [id_categoria], [id_lugar], [id_organizador]) VALUES (1, N'Noche de Rock', N'Concierto de bandas locales', CAST(N'2026-10-15' AS Date), CAST(N'19:00:00' AS Time), CAST(85000.00 AS Decimal(10, 2)), 1, 1, 1)
INSERT [dbo].[Eventos] ([id_evento], [nombre], [descripcion], [fecha], [hora], [precio], [id_categoria], [id_lugar], [id_organizador]) VALUES (2, N'Taller de Fotografia', N'Taller basico de fotografia', CAST(N'2026-10-20' AS Date), CAST(N'14:00:00' AS Time), CAST(45000.00 AS Decimal(10, 2)), 2, 2, 2)
INSERT [dbo].[Eventos] ([id_evento], [nombre], [descripcion], [fecha], [hora], [precio], [id_categoria], [id_lugar], [id_organizador]) VALUES (3, N'Tecnologia del Futuro', N'Conferencia sobre tecnologia', CAST(N'2026-11-05' AS Date), CAST(N'09:00:00' AS Time), CAST(30000.00 AS Decimal(10, 2)), 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Eventos] OFF
GO
SET IDENTITY_INSERT [dbo].[Inscripciones] ON 

INSERT [dbo].[Inscripciones] ([id_inscripcion], [fecha_inscripcion], [estado], [id_participante], [id_evento]) VALUES (1, CAST(N'2026-10-06' AS Date), N'Confirmada', 1, 1)
INSERT [dbo].[Inscripciones] ([id_inscripcion], [fecha_inscripcion], [estado], [id_participante], [id_evento]) VALUES (2, CAST(N'2026-10-06' AS Date), N'Confirmada', 2, 1)
INSERT [dbo].[Inscripciones] ([id_inscripcion], [fecha_inscripcion], [estado], [id_participante], [id_evento]) VALUES (3, CAST(N'2026-10-06' AS Date), N'Confirmada', 3, 2)
SET IDENTITY_INSERT [dbo].[Inscripciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Lugares] ON 

INSERT [dbo].[Lugares] ([id_lugar], [nombre], [ciudad], [capacidad], [direccion]) VALUES (1, N'Teatro Central', N'Medellin', 500, N'Carrera 45 #10-20')
INSERT [dbo].[Lugares] ([id_lugar], [nombre], [ciudad], [capacidad], [direccion]) VALUES (2, N'Centro Cultural Norte', N'Medellin', 300, N'Calle 50 #30-15')
INSERT [dbo].[Lugares] ([id_lugar], [nombre], [ciudad], [capacidad], [direccion]) VALUES (3, N'Auditorio Principal', N'Bogotá', 800, N'Carrera 10 #20-30')
SET IDENTITY_INSERT [dbo].[Lugares] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizadores] ON 

INSERT [dbo].[Organizadores] ([id_organizador], [nombre], [apellido], [telefono], [correo]) VALUES (1, N'Carlos', N'Ramirez', N'3001112233', N'carlos@email.com')
INSERT [dbo].[Organizadores] ([id_organizador], [nombre], [apellido], [telefono], [correo]) VALUES (2, N'Laura', N'Gómez', N'3012223344', N'laura@email.com')
INSERT [dbo].[Organizadores] ([id_organizador], [nombre], [apellido], [telefono], [correo]) VALUES (3, N'Andrés', N'Martinez', N'3023334455', N'andres@email.com')
SET IDENTITY_INSERT [dbo].[Organizadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Participantes] ON 

INSERT [dbo].[Participantes] ([id_participante], [nombre], [apellido], [documento], [telefono], [correo]) VALUES (1, N'Daniel', N'Lopez', N'1001', N'3101111111', N'daniel@email.com')
INSERT [dbo].[Participantes] ([id_participante], [nombre], [apellido], [documento], [telefono], [correo]) VALUES (2, N'Maria', N'Torres', N'1002', N'3102222222', N'maria@email.com')
INSERT [dbo].[Participantes] ([id_participante], [nombre], [apellido], [documento], [telefono], [correo]) VALUES (3, N'Viviana', N'Mora', N'1003', N'3103333333', N'viviana@email.com')
SET IDENTITY_INSERT [dbo].[Participantes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Particip__A25B3E6122DC3903]    Script Date: 6/10/2026 1:51:09 p. m. ******/
ALTER TABLE [dbo].[Participantes] ADD UNIQUE NONCLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inscripciones] ADD  DEFAULT (getdate()) FOR [fecha_inscripcion]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Evento_Categoria]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Lugar] FOREIGN KEY([id_lugar])
REFERENCES [dbo].[Lugares] ([id_lugar])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Evento_Lugar]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Organizador] FOREIGN KEY([id_organizador])
REFERENCES [dbo].[Organizadores] ([id_organizador])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Evento_Organizador]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Evento] FOREIGN KEY([id_evento])
REFERENCES [dbo].[Eventos] ([id_evento])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripcion_Evento]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Participante] FOREIGN KEY([id_participante])
REFERENCES [dbo].[Participantes] ([id_participante])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripcion_Participante]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Inscripcion] FOREIGN KEY([id_inscripcion])
REFERENCES [dbo].[Inscripciones] ([id_inscripcion])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pago_Inscripcion]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarEvento]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Creación del procedimiento
CREATE   PROCEDURE [dbo].[sp_BuscarEvento]
    @id_evento INT
AS
BEGIN
    SELECT 
        e.nombre,
        e.fecha,
        e.hora,
        e.precio,
        l.nombre AS lugar,
        c.nombre AS categoria
    FROM Eventos e
    INNER JOIN Lugares l ON e.id_lugar = l.id_lugar
    INNER JOIN Categorias c ON e.id_categoria = c.id_categoria
    WHERE e.id_evento = @id_evento;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarEventosCategoria]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarEventosCategoria]
    @id_categoria INT
AS
BEGIN
    SELECT 
        e.id_evento,
        e.nombre,
        e.fecha,
        e.hora,
        e.precio
    FROM Eventos e
    WHERE e.id_categoria = @id_categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularRecaudoEvento]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Creación del procedimiento
CREATE   PROCEDURE [dbo].[sp_CalcularRecaudoEvento]
    @id_evento INT,
    @recaudo DECIMAL(18,2) OUTPUT
AS
BEGIN
    SELECT @recaudo = ISNULL(COUNT(i.id_inscripcion) * e.precio, 0)
    FROM Eventos e
    LEFT JOIN Inscripciones i ON e.id_evento = i.id_evento
    WHERE e.id_evento = @id_evento
    GROUP BY e.precio;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CantidadEventos]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CantidadEventos]
    @cantidad INT OUTPUT
AS
BEGIN
    SELECT @cantidad = COUNT(*)
    FROM Eventos;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ContarInscritos]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ContarInscritos]
    @id_evento INT,
    @cantidad INT OUTPUT
AS
BEGIN
    SELECT @cantidad = COUNT(*)
    FROM Inscripciones
    WHERE id_evento = @id_evento;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TotalParticipantes]    Script Date: 6/10/2026 1:51:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Creación del procedimiento
CREATE   PROCEDURE [dbo].[sp_TotalParticipantes]
    @total INT OUTPUT
AS
BEGIN
    SELECT @total = COUNT(*)
    FROM Participantes;
END;
GO
USE [master]
GO
